
<div>
    <h1 class="form_heading">Admin SignUp</h1>
    <form id="form_register">
        <div class="form-group">
          <label>Firstname</label>
          <input type="text" class="form-control" placeholder="Enter Firstname" [(ngModel)]="firstname" name="firstname">
          
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" placeholder="Enter Lastname" [(ngModel)]="lastname" name="lastname">
          </div>
          <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email">
            </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="password" name="password">
        </div>
        <button (click)="onRegister({firstname:firstname,
                                     lastname:lastname,
                                     email:email,
                                     password:password},$event)" class="btn btn-primary form_btn">SignUp</button>
      </form>
      
    </div>
    
    
